<div class="thing-picker">
    <h5>{{widgetName}}
        <i class="fa fa-caret-down pull-right" ng-click="compress = false" ng-show="compress"></i>
        <i class="fa fa-caret-up pull-right" ng-click="compress = true" ng-hide="compress"></i>
        <button type="button" ng-click="setAddMode()" class="btn btn-default btn-xs pull-right"><span
                class="fa fa-plus"></span> add
        </button>
    </h5>

    <div ng-show="addMode && !compress" class="clearfix thing-picker-addMode">
        <div>
            <p ng-hide="allThings && !!allThings.length">No items to choose from!</p>
            <table ng-table="tableParams" ng-show="allThings && !!allThings.length">
                <p><strong>Page:</strong> {{tableParams.page()}}</p>
                <p><strong>Count per page:</strong> {{tableParams.count()}}</p>
                <tr ng-repeat="thing in allThings">
                    <td>
                        <input type="checkbox" ng-checked="isSelected(thing)" ng-click="toggleSelection(thing)"/> {{thing.name}}
                    </td>
                </tr>
            </table>
        </div>
        <button type="button" ng-click="confirm()" class="btn btn-default btn-xs btn-primary pull-left"><span
                class="fa fa-check"></span> Confirm
        </button>
        <button type="button" ng-click="cancel()" class="btn btn-default btn-xs pull-right"><span
                class="fa fa-ban"></span> Cancel
        </button>
    </div>

    <div ng-hide="addMode || compress">
        <p ng-hide="selectedThings && !!selectedThings.length" ng-click="addMode=true"><a>No items yet! Click to add
            some...</a></p>
        <table ng-table ng-show="selectedThings && !!selectedThings.length">
            <tr ng-repeat="thing in selectedThings">
                <td>{{thing.name}}</td>
                <td><i class="fa fa-trash-o" ng-click="removeThing(thing)"></i></td>
            </tr>
        </table>
    </div>
</div>